<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat Application</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="groupBody">
    <div class="container">
        <div class="left-sidebar">
            <h2 id="groupH2">All Groups</h2>
            <div class="groupCreationSection">
                <form id="createGroupForm">
                    <input type="text" id="groupNameInput" placeholder="Enter group name" required>
                    <button id="createGroup" type="submit">CreateGroup</button>
                </form>
            </div>
            <div id="groupList"></div>
        </div>
        <div class="right-sidebar">
            <div id="groupChat" class="group-chat">
                <div id="groupInfo">
                    <h2 id="groupName"></h2>
                    <button id="addAdminButton" style="display: none;">Admin+</button>
                    <button id="addGroupMemberButton" style="display: none;">Add+</button>
                    <button id="leaveGroupButton" style="display: none;">Leave</button>
                    <button id="deleteGroupMemberButton" style="display: none;">Delete</button>
                </div>
                <div id="groupMessages"></div>
                <form id="groupMessageForm">
                    <input type="text" id="messageInput" placeholder="Type your message...">
                    <input type="file" id="fileInput" style="display: none;"> 
                    <button type="button" id="attachFileBtn">Attach File</button>
                    <button type="submit" id="sendTextBtn">Send</button> 
                    <button type="button" id="sendFileBtn" style="display: none;">Send File</button>
                    <span id="fileNameDisplay" style="margin-left: 10px; color: #88bbd0;"></span>
                </form>
            </div>
        </div>
    </div>

    <div id="addMemberModal" class="modal">
        <div class="modal-content">
            <h3 id="modalTitle">Add/Remove Group Members</h3>
            <ul id="userList"></ul>
            <button id="closeModal" class="madel-button">Close</button>
        </div>
    </div>

    <div id="invitationAlertModal" class="modal">
        <div class="modal-content">
            <p id="invitationMessage"></p>
            <button id="acceptInvitation">Accept</button>
            <button id="rejectInvitation">Reject</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/script/group.js"></script>
    <!-- <script src="/script/admin.js"></script> --> 

</body>
</html>